export REDDIT_ROOT={{ REDDIT_HOME }}/src/reddit/r2
export REDDIT_INI={{ REDDIT_HOME }}/src/reddit/r2/run.ini
export REDDIT_USER={{ REDDIT_USER }}
export REDDIT_GROUP={{ REDDIT_GROUP }}
export REDDIT_CONSUMER_CONFIG={{ CONSUMER_CONFIG_ROOT }}
alias wrap-job={{ REDDIT_HOME }}/src/reddit/scripts/wrap-job
alias manage-consumers={{ REDDIT_HOME }}/src/reddit/scripts/manage-consumers
